# RabbitMQ Configuration
RABBITMQ_URL=amqp://admin:admin123@localhost:5672

# Redis Configuration
MONGODB_URL=mongodb://username:password@localhost:27017/test

# Application Configuration
PORT=3001
NODE_ENV=development
